body {
  font-family: 'liquid_crystalregular', sans-serif;
  background: url(Aerial.jpg);
  background-size: cover;
}
.date {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
  color: #eee;
  height: 100px;
  width: 70%;
  line-height: 100px;
  margin: 20px auto 0;
  padding: 0 50px;
  background: #222;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
}
.clock {
  height: 100px;
  width: 70%;
  line-height: 100px;
  margin: 20px auto 0;
  padding: 0 50px;
  background: #222;
  color: #eee;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
}

.css_clock {
  border-radius: 100%;
  background: #fff url(ios_clock.svg) no-repeat center;
  background-size: 90%;
  padding-bottom: 58%;
  margin-left: 18%;
  position: relative;
  width: 61%;
  /*height: 5em;*/
  overflow: hidden;
}

.css_clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}
.seconds {
  background: red;
  height: 38%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite linear;
}
.seconds-container {
  animation: rotate 60s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}
